<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.maintenance.infrastructure.datasource.maintenance.contract.ContractMapper">
	<resultMap id="contract" type="com.service.maintenance.domain.model.maintenance.contract.Contract">
		<result property="id.value" column="CONTRACT_ID"/>
		<result property="name" column="CONTRACT_NAME"/>
		<result property="fiscalYear" column="FISCAL_YEAR"/>
		<result property="amount" column="AMOUNT"/>
	</resultMap>

	<select id="findBy" resultMap="contract">
		SELECT * FROM MAINTENANCE.CONTRACT WHERE CONTRACT_ID = #{id.value};
	</select>

	<select id="list" resultMap="contract">
		SELECT * FROM MAINTENANCE.CONTRACT ORDER BY CONTRACT_ID;
	</select>
	
    <insert id="register">
        INSERT INTO MAINTENANCE.CONTRACT (
          CONTRACT_ID, CONTRACT_NAME, FISCAL_YEAR, AMOUNT, MAINTENANCE_RATE
        )
        VALUES (
        #{contract.id.value},#{contract.name},#{contract.fiscalYear},#{contract.amount},#{contract.maintenanceRate}
        );
    </insert>
</mapper>