<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.maintenance.infrastructure.datasource.maintenance.schedule.ScheduleMapper">

    <insert id="register">
    	INSERT INTO MAINTENANCE.SCHEDULE (CONTRACT_ID, MONTH, DAY) 
    		VALUES (#{schedule.id.value}, #{schedule.month}, #{schedule.inspectionDay})
    </insert>
    
</mapper>